<mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="ticker">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ticker Name</mat-header-cell>
        <mat-cell *matCellDef="let trans"> {{trans.ticker}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="units">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Units</mat-header-cell>
        <mat-cell *matCellDef="let trans"> {{trans.units}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
        <mat-cell *matCellDef="let trans"> {{trans.created}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Unit Price</mat-header-cell>
        <mat-cell *matCellDef="let trans"> {{trans.unitPrice}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="priceCurrency">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Currency</mat-header-cell>
        <mat-cell *matCellDef="let trans"> {{trans.priceCurrency}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="abcToPriceCurrencyRate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Currency Rate</mat-header-cell>
        <mat-cell *matCellDef="let trans"> {{trans.abcToPriceCurrencyRate}} </mat-cell>
    </ng-container>
    
    ticker: string;
    created: string;
    units: number;
    unitPrice: number;
    priceCurrency: string;
    abcToPriceCurrencyRate: number;


    <mat-header-row *matHeaderRowDef="['created','ticker', 'units','unitPrice','priceCurrency','abcToPriceCurrencyRate']"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: ['created','ticker', 'units','unitPrice','priceCurrency','abcToPriceCurrencyRate']"></mat-row>
</mat-table>